<div class="modal-bckg" *ngIf="showRegistration">
  <div class="form-cont">
    <mat-card>
      <mat-card-header fxLayout="row" fxLayoutAlign="center">
        <mat-card-title> Registration </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form [formGroup]="registrationForm">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" placeholder="Username" />
            <mat-error
              *ngIf="
                registrationForm.get('username')?.invalid &&
                registrationForm.get('username')?.touched
              "
              >Username required, min 3 characters, max 15 characters</mat-error
            >
          </mat-form-field>

          <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" placeholder="E-mail" />
            <mat-error
              *ngIf="
                registrationForm.get('email')?.invalid &&
                registrationForm.get('email')?.touched
              "
              >E-mail required, min 6 characters in a valid format</mat-error
            >
          </mat-form-field>

          <mat-form-field>
            <mat-label>Password</mat-label>
            <input
              matInput
              formControlName="password"
              [type]="hidePassLetters ? 'password' : 'text'"
              placeholder="Password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hidePassLetters = !hidePassLetters"
              [attr.aria-label]="'hidePassLetters password'"
              [attr.aria-pressed]="hidePassLetters"
            >
              <mat-icon>{{
                hidePassLetters ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            <mat-error
              *ngIf="
                registrationForm.get('password')?.invalid &&
                registrationForm.get('password')?.touched
              "
              >Password required, min 4 characters</mat-error
            >
          </mat-form-field>
        </form>

        <div class="for-login-notice">
          Already have an account?
          <button class="for-login-btn" (click)="handleShowLogin()">
            Login here
          </button>
        </div>
      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayoutAlign="space-between">
        <button mat-raised-button color="primary" (click)="handleCancelBtn()">
          Cancel
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="handleConfirmBtn()"
          [disabled]="registrationForm.invalid"
        >
          Register
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<!-- modal message  -->
<!-- warning that category couldn't be created or that it was created -->
<div class="confirm-modal-bckg" *ngIf="showWarningModal">
  <div class="confirm-modal">
    <div mat-dialog-content class="confirm-modal-text">
      {{ warningMsg }}
    </div>
    <div mat-dialog-actions class="confirm-modal-actions">
      <button mat-button (click)="handleWarningBtn()" cdkFocusInitial>
        OK
      </button>
    </div>
  </div>
</div>
