<div class="list-cont" *ngIf="!isEditMode">
  <h1>{{ title }}</h1>

  <ul>
    <li *ngFor="let todo of todos">
      <app-todo-item
        [todo]="todo"
        (toRenderListEvent)="toggleItemChanged($event)"
        (isEdittedEvent)="isEditMode = $event"
        (currentTodoEvent)="currentTodo = $event"
      ></app-todo-item>
      <!-- (currentTodoEvent)="getCurrentTodoEvent($event)" -->
    </li>
  </ul>
</div>

<app-edit-todo-form
  [currentTodo]="currentTodo"
  *ngIf="isEditMode"
  (offEditModeEvent)="isEditMode = $event"
  (offEditModeEvent)="toggleItemChanged($event)"
></app-edit-todo-form>
