<!-- (showTodoFormEvent)="showTodoForm = $event"
(showCategoryFormEvent)="showCategoryForm = $event" -->
<app-navigation
  *ngIf="showCategoryForm; else categoryFormElse"
  (showTodoFormEvent)="onShowTodoForm($event)"
  (showCategoryFormEvent)="onShowCategoryForm($event)"
  (showTodoListEvent)="showTodoList = $event"
></app-navigation>

<ng-template #categoryFormElse>
  <app-navigation
    (showTodoFormEvent)="onShowTodoForm($event)"
    (showCategoryFormEvent)="onShowCategoryForm($event)"
    (showTodoListEvent)="showTodoList = $event"
  ></app-navigation>
</ng-template>

<app-todo-form
  *ngIf="showTodoForm"
  (showTodoFormEvent)="showTodoForm = $event"
  (showTodoListEvent)="showTodoList = $event"
  [isEditMode]="isEditMode"
  [currentTodo]="currentTodo"
></app-todo-form>

<app-category-form
  *ngIf="showCategoryForm"
  (showCategoryFormEvent)="showCategoryForm = $event"
  (showTodoListEvent)="showTodoList = $event"
></app-category-form>

<app-todo-list
  *ngIf="showTodoList"
  (isEditModeEvent)="handleEditMode($event)"
  (currentTodoEvent)="getCurrentTodoEvent($event)"
></app-todo-list>

<!-- dodavanje novog Todo -->
<!-- brisanje todo -->

<!-- crud -->
<!-- DODAJ CHECKBOX  - ISCHECKED-->
<!-- responzivnes -->
<!-- update when checked -->
<!-- sorting  container-->
<!-- filtering -->

<!-- token i autorizacija -->

<!-- figma?? -->
<!-- sorting ubacit i u figmu -->
