<app-navigation
  *ngIf="showCategoryForm; else categoryFormElse"
  (showCategoryFormEvent)="onShowCategoryForm($event)"
  (showTodoFormEvent)="onShowTodoForm($event)"
  (showTodoListEvent)="showTodoList = $event"
></app-navigation>

<ng-template #categoryFormElse>
  <app-navigation
    (showCategoryFormEvent)="onShowCategoryForm($event)"
    (showTodoFormEvent)="onShowTodoForm($event)"
    (showTodoListEvent)="showTodoList = $event"
  ></app-navigation>
</ng-template>

<app-todo-form
  *ngIf="showTodoForm"
  (showTodoFormEvent)="showTodoForm = $event"
  (showTodoListEvent)="showTodoList = $event"
></app-todo-form>

<app-category-form
  *ngIf="showCategoryForm"
  (showCategoryFormEvent)="showCategoryForm = $event"
  (showTodoListEvent)="showTodoList = $event"
></app-category-form>

<app-todo-list *ngIf="showTodoList"></app-todo-list>
